<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <h1><%= error.status %> - <%= message %></h1>
  <p>Did you double check your link?</p>
</div>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>