<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/students/list" role="button"> Sign up now!</a>
    </p>
  </div>
</main>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>