<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p class="lead">Contact information:</p>
    <hr class="my-4">
    <p>Mohammed Alam</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/students/list" role="button"> Sign up now!</a>
    </p>
  </div>
</main>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>