<%- include('./partials/header'); %>
<%- include('./partials/nav_top'); %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><% title %> </h1>        
        <br>
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">First Name</th>
                <th class="text-center col-2">Last Name</th>
                <th class="text-center col-1">Age</th>
                <th class="text-center col-3">E-mail</th>
                <th class="text-center col-2">Location</th>
            </tr>
            <% for(let count=0; count<StudentsDB.length; count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= StudentsDB[count].fname %></td>
                <td class="text-center col-2"><%= StudentsDB[count].lname %></td>
                <td class="text-center col-1"><%= StudentsDB[count].age %></td>
                <td class="text-center col-3"><%= StudentsDB[count].email %></td>
                <td class="text-center col-2"><%= StudentsDB[count].locaton %></td>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
</main>
<%- include('./partials/nav_bottom'); %>
<%- include('./partials/footer'); %>